<footer class="footer fixed-bottom" style="background-color: #99B264; height: 80px;">
  <div class="container mt-3">
    <nav class="row d-flex justify-content-center">
      <ul class="nav d-flex justify-content-center list-unstyled mt-3">

        <% if user_signed_in? %>

        <li class="nav-item mx-3">
          <%= link_to plans_path, class: "menu-icon" do %>
            <i class="fa-solid fa-wheat-awn fa-xl" style="color: #000;"></i>
            <p class="text-center mt-3" style="font-size: 10px;">作付計画</p>
          <% end %>
        </li>

        <li class="nav-item mx-3">
          <%= link_to fields_path, class: "menu-icon", 'data-turbolinks': false do %>
            <i class="fa-solid fa-crop fa-xl" style="color: #000;"></i>
            <p class="text-center mt-3" style="font-size: 10px;">畑管理</p>
          <% end %>
        </li>

        <li class="nav-item mx-3">
          <%= link_to crops_path, class: "menu-icon", 'data-turbolinks': false do %>
            <i class="fa-solid fa-carrot fa-xl" style="color: #000;"></i>
            <p class="text-center mt-3" style="font-size: 10px;">作物管理</p>
          <% end %>
        </li>

        <% else %>
        <li class="nav-item mx-3">
          <%= link_to root_path, class: "menu-icon" do %>
            <i class="fa-solid fa-house fa-xl" style="color: #000;"></i>
            <p class="text-center mt-3" style="font-size: 10px;">使い方</p>
          <% end %>
        </li>
        <% end %>

      </ul>

    </nav>
  </div>
</footer>